<!-- main_app/templates/main_app/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Flower Oasis Ecommerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                {% else %}
                    <li><a href="{% url 'customer_dashboard' %}">Customer Dashboard</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
